@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

:root {
  --bg-color: #EFF5FF;
  --border-color: #D6D9E6;
  --navy-color: #022959;
  --grey-color: #9699AA;
  --light-blue-color: #ABBCFF;
  --light-grey-color: #D6D9E6;
  --orange-color: #FFAF7E;
  --pink-color: #F9818E;
  --purple-color: #483EFF;
  --red-color: #EE374A;
  --sky-blue-color: #BEE2FD;
  --very-light-grey-color: #F8F9FF;
  --white-color: #FFFFFF;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}